*{
	padding: 0px;
	margin: 0px;
	font-family: Microsoft Yahei;
	box-sizing: border-box;
}
.navbar{
    height: 200px;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nav-info{
    height: 40px;
    background-color: #4b4d52;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.nav-info a{
    text-decoration: none;
	/*color: white;*/
	color: #d6d2d2 !important;
	font-size: 14px;
	line-height: 40px;
	margin-left: 5px;
	margin-right:25px;
}
.nav-info a:hover{
	color:white  !important;
}
.nav-search{
	height: 100px;
	width: 100%;
	/*background-color: gray;*/
	display: flex;
	justify-content: flex-start;
	align-content: center;
	position: relative;
}
.search-form{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.searchIn{
	width: 31%;
	height: 44px;
	border: 2px solid #4b4d52;
	position: absolute;
	left: 49%;
	top: 27%;
	outline: none;
	font-size: 16px;
	text-indent: 10px;
}
.searchBtn{
	width: 7%;
	height: 44px;
	border: 2px solid #3f4247;
	background-color: #4b4d52;
	position: absolute;
	right: 13%;
	top: 26.6%;
	text-indent: 5px;
	outline: none;
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.3s;	
}
.searchBtn:hover{
	font-size: 21px;
	/*text-decoration: underline;*/
}
.logo{
	width: 36%;
	margin-left: 6%;
}
.search-logo{
	text-decoration: none;
	color: #4b4d52;
	font-size: 26px;
	position: absolute;
	left: 45%;
	top: 30.5%;
}
.search-logo img{
	width: 20px;
	margin-left:-6px; 
}
.menu{
	width: 100%;
	height: 50px;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	background-color: #f2f1ea;
	margin-bottom: 0px;
	padding-left: 11%;
}
.menu li a:hover{
	font-weight: 600;
	border: solid #b5aa9a; 
	border-width: 0 0 2px 0;	
}

.menu li{
	height: 50px;
	display: inline-flex;
	justify-content: space-around;
	/*margin-left: 140px;*/
	padding-top: 18px;
	margin-right: 100px; 

}
.menu a{
	text-decoration: none;
	color: #3f4247;
}

.menu li a.active{
	font-weight: 600;
	border: solid #b5aa9a; 
	border-width: 0 0 2px 0;
}
footer{
	border-top: 1px solid #ccc;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

footer a{
	text-align: center;
	font-size: 15px;
	/*margin-left: 30%;*/
	text-decoration: none;
	color: gray;
}